<h1>Available Landmarks</h1>

<div class="input-group mb-3 d-flex flex-row pt-3">
  <input
    type="text"
    class="form-control"
    placeholder="Enter landmark name"
    aria-label="Search landmark"
    aria-describedby="button-addon2"
    [(ngModel)]="searchText"
  />
  <button
    class="btn btn-outline-secondary btn-primary"
    type="button"
    id="button-addon2"
    style="color: white"
    (click)="search()"
  >
    Search
  </button>
</div>

<table class="table table-hover">
  <tbody *ngIf="landmarks">
    <tr *ngFor="let landmark of landmarks">
      <td>
        <a (click)="triggerModal(landmark?.photo)">
          <img class="preview-logo" [src]="landmark.photo_thumb" width="70" alt="logo">
        </a>
      </td>
      <td>
        <a [routerLink]="landmark.objectId">{{ landmark.title }}</a>
      </td>
      <td>
        {{ landmark.short_info }}
      </td>
    </tr>
  </tbody>
</table>

<!-- Image Modal  -->
<div 
  [style.display]="showModal ? 'block' : 'none'" 
  class="modal" 
  id="imagemodal" 
  tabindex="-1" 
  role="dialog" 
  aria-labelledby="myModalLabel" 
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <img 
          [src]="modalUrl" 
          id="imagepreview" 
          style="width: 100%;cursor:pointer;" 
          (click)="triggerModal()"
        >
      </div>
    </div>
  </div>
</div>
